<div class="frame-plan-container">
  <h1>Frame Sets to be Acquired</h1>
  <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox  (click)="selectOrDeselectAll()"></mat-checkbox>
      </th>
      <td mat-cell  *matCellDef="let element">
        <mat-checkbox
          [checked]="isChecked(element)"
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element">
        {{element.id}}
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Number</th>
      <td mat-cell *matCellDef="let element">
        {{element.numberWanted}}
      </td>
    </ng-container>

    <ng-container matColumnDef="frameType">
      <th mat-header-cell *matHeaderCellDef> Type</th>
      <td mat-cell *matCellDef="let element">
        {{element.frameSpec.frameType}}
      </td>
    </ng-container>

    <ng-container matColumnDef="exposure">
      <th mat-header-cell *matHeaderCellDef> Exposure</th>
      <td mat-cell *matCellDef="let element">
        <!-- Don't display an exposure for bias frames, just dark frames -->
        {{element.frameSpec.frameType === 'bias' ? '' : element.frameSpec.exposure}}
      </td>
    </ng-container>

    <ng-container matColumnDef="binning">
      <th mat-header-cell *matHeaderCellDef> Binning</th>
      <td mat-cell *matCellDef="let element">
        {{element.frameSpec.binning}}
      </td>
    </ng-container>

    <ng-container matColumnDef="complete">
      <th mat-header-cell *matHeaderCellDef> Complete</th>
      <td mat-cell *matCellDef="let element">
        {{element.numberCaptured}}
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
    <tr mat-row
        (click)="rowClicked(row,$event)"
        (dblclick)="rowDoubleClicked(row)"
        *matRowDef="let row;columns:displayedColumns;"></tr>
  </table>

  <!-- Row of edit buttons to manipulate the rows in the table -->
  <div class="edit-buttons">
    <div class="content-buttons">

      <!-- "add" button, used to add an additional frameset to the plan -->
      <button class="edit-button" mat-button color="primary"
              [disabled]="numSelected() > 1"
              (click)="openAddNewDialog()"
              matTooltip="Add new frame set">
        <mat-icon>add</mat-icon>
      </button>

      <!-- Delete button - enabled if 1 or more rows are checked -->
      <button class="edit-button" mat-button color="primary"
              (click)="deleteSelected()"
              [disabled]="numSelected()===0"
              matTooltip="Remove the selected frame sets">
        <mat-icon>remove</mat-icon>
      </button>
      <button class="edit-button" mat-button color="primary"
              matTooltip="Edit the selected frame set"
              [disabled]="numSelected()!==1"
              (click)="openEditDialog()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button class="edit-button" mat-button color="primary"
              (click)="openBulkAddDialog()"
              matTooltip="Bulk-edit multiple frame sets">
        <mat-icon>library_add</mat-icon>
      </button>
    </div>
    <div class="motion-buttons">
      <button class="edit-button" mat-button color="primary"
              [disabled]="numSelected()!==1 || !canMoveSelectedUp()"
              (click)="moveSelectedUp()"
              matTooltip="Move selected frame set up">
        <mat-icon>north</mat-icon>
      </button>
      <button class="edit-button" mat-button color="primary"
              [disabled]="numSelected()!==1 || !canMoveSelectedDown()"
              (click)="moveSelectedDown()"
              matTooltip="Move selected frame set down">
        <mat-icon>south</mat-icon>
      </button>
    </div>
    <span class="full-spacer"></span>
    <button class="edit-button" mat-button color="primary"
            [disabled]="frameSetsToDisplay.length === 0"
            (click)="resetCompletedCounts()"
            matTooltip="Reset all the Completed counts">
      <mat-icon>restart_alt</mat-icon>
    </button>
  </div>
  <!-- The following button set is used only during development, to inject or clear fake data -->
  <!-- This section will be commented out once real data management has been implemented -->
  <div class="fake-data-controls">
    <h3>Temporary management of fake data during development.</h3>
    <button class="fake-data-button" mat-raised-button color="warn" (click)="storeFakeData()">Store Fake Data</button>
    <button class="fake-data-button" mat-raised-button color="warn" (click)="emptyFakeData()">Empty Data</button>
    <button class="fake-data-button" mat-raised-button color="warn" (click)="deleteFakeData()">Delete Data</button>
  </div>
</div>
