<div class="server-specs-container">
  <h1>TheSkyX Server Specifications</h1>
  <p>TheSkyX must be running on your network. These are the settings used to locate it.</p>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">

        <mat-form-field>
          <input matInput placeholder="Host Name or IP Address"
                 id="address"
                 name="address"
                 formControlName="addressControl"
          >
        </mat-form-field>
        <div class="validation-error"
             *ngIf="formGroup.get('addressControl')!.hasError('required')">This field is required
        </div>

        <mat-form-field>
          <input matInput placeholder="Port Number"
                 id="portNumber"
                 name="portNumber"
                 formControlName="portNumberControl"
          >
        </mat-form-field>
        <div class="validation-error"
             *ngIf="formGroup.get('portNumberControl')!.hasError('required')">This field is required
        </div>
        <div class="validation-error"
             *ngIf="formGroup.get('portNumberControl')!.hasError('pattern')">This field must be an integer
        </div>

      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="resetDefaults()">Reset to Defaults</button>
    </mat-card-actions>
  </mat-card>
</div>
