.server-specs-container {
  margin: auto;   /* centre table on page */
  width: 80%
}

.mat-form-field {
  display: block;
  margin-top: 8px;
}

.mat-card mat-card-content {
  margin-left: 3em;
}

h1 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mat-card .mat-card-actions {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}
