/*Material components*/

.spacer {
  flex: 1 1 auto;
}

.app-logo {
  margin-top: 10px;
  margin-right: 8px;
  width: 40px;
}

.app-title {
  margin-right: 12px;
}

.app-subtitle {
  font-size: small;
  color: darkgray;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

.mat-icon {
  margin-right: 2px;
}
