<!-- Main page is really 5 sub-pages, selected by tab bar -->
<!-- All the application interaction happens in one of these sub-pages -->
<mat-tab-group
  [selectedIndex]="defaultTabIndex"
  (selectedIndexChange)="onTabIndexChanged($event)">
  <mat-tab label="Start & End">
    <app-start-end-specs></app-start-end-specs>
  </mat-tab>
  <mat-tab label="Temperature">
    <app-temperature-specs></app-temperature-specs>
  </mat-tab>
  <mat-tab label="TheSkyX Server">
    <app-server-specs></app-server-specs>
  </mat-tab>
  <mat-tab label="Frames Plan">
    <app-frames-plan></app-frames-plan>
  </mat-tab>
  <mat-tab label="Run Session">
    <app-run-session></app-run-session>
  </mat-tab>
</mat-tab-group>
