<div class="help-container">
  <h1>Web SkyDarks Help </h1>
  <p>This program is a controller to help take dark frames for astrophotography using
    <a href="https://www.bisque.com/product/theskyx-pro/">TheSkyX Professional</a>
    from
    <a href="https://www.bisque.com">Software Bisque</a>.
    It is useful <i>only</i> if you have TheSkyX Pro, and are using it to control your camera.
  </p>
  <p>Note that the ability to connect to TheSkyX in this manner is a feature of the <i>TheSkyX Professional</i> version.
    <i>TheSkyX Serious Observer</i> does not have this feature and cannot be used.</p>
  <p>The following pages provide more detail on  this program.</p>

  <ul>
    <a routerLink="/help/workflow"><li>Overall workflow</li></a>
    <a routerLink="/help/server"><li>Server setup</li></a>
    <a routerLink="/help/framesplan"><li>Defining the frames plan</li></a>
    <a routerLink="/help/runsession"><li>Running the session</li></a>
    <a routerLink="/help/startend"><li>Automating start and end</li></a>
    <a routerLink="/help/temperature"><li>Temperature control</li></a>
    <a routerLink="/help/developer"><li>Developer info</li></a>
  </ul>
  <p>As you can see, this program is running in your web browser.  It runs <i>only</i> in
    your browser, and it stores intermediate data in your browser. There is no &ldquo;back end&rdquo; server,
    so your data are not exposed to the outside world.  This means that if you wish to repeat or a continue a session,
    you will need to do so on the <i>same</i> browser on the <i>same</i> computer.</p>
</div>
