<div class="temperature-container">
  <h1>Camera Temperature Control</h1>
  <div class="temperature-box">
    <form [formGroup]="formGroup">
      <table>
        <tr>
          <td colspan="3">
            <mat-checkbox formControlName="useTemperatureControl">Camera is temperature controlled</mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>Target Temperature:</td>
          <td><input matInput id="targetTemperature" name="targetTemperature"
                     formControlName="targetTemperatureControl"
                     placeholder="temperature">
            <div class="validation-error"
                 *ngIf="formGroup.get('targetTemperatureControl')!.hasError('required')">This field is required
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('targetTemperatureControl')!.hasError('min')">Must be between -100 and +100
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('targetTemperatureControl')!.hasError('max')">Must be between -100 and +100
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('targetTemperatureControl')!.hasError('invalidFloat')">This must be a number, and can include decimals
            </div>
          </td>
          <td>° C</td>
        </tr>
        <tr>
          <td>Within &plusmn; :</td>
          <td><input matInput id="targetTolerance" name="targetTolerance"
                     formControlName="targetToleranceControl" placeholder="temp tolerance">
            <div class="validation-error"
                 *ngIf="formGroup.get('targetToleranceControl')!.hasError('required')">This field is required
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('targetToleranceControl')!.hasError('min')">Must be between -10 and +10
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('targetToleranceControl')!.hasError('max')">Must be between -10 and +10
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('targetToleranceControl')!.hasError('invalidFloat')">This must be a number, and can include decimals
            </div>
          </td>
          <td>° C</td>
        </tr>
        <tr>
          <td>Cooling Check Interval:</td>
          <td><input matInput id="coolingCheck" name="coolingCheck"
                     formControlName="coolingCheckIntervalControl" placeholder="interval">
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingCheckIntervalControl')!.hasError('required')">This field is required
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingCheckIntervalControl')!.hasError('min')">Must be between 0.1 and {{60*60}}
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingCheckIntervalControl')!.hasError('max')">Must be between 0.1 and {{60*60}}
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingCheckIntervalControl')!.hasError('invalidFloat')">This must be a number, and can include decimals
            </div>
          </td>
          <td>seconds</td>
        </tr>
        <tr>
          <td>Max Time to Try Cooling:</td>
          <td><input matInput id="coolingMaxTime" name="coolingMaxTime"
                     formControlName="coolingMaxTimeControl" placeholder="duration">
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingMaxTimeControl')!.hasError('required')">This field is required
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingMaxTimeControl')!.hasError('min')">Must be between 1 and {{6*60*60}}
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingMaxTimeControl')!.hasError('max')">Must be between 1 and {{6*60*60}}
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingMaxTimeControl')!.hasError('invalidFloat')">This must be a number, and can include decimals
            </div>
          </td>
          <td>seconds</td>
        </tr>
        <tr>
          <td>Cooling Retries:</td>
          <td><input matInput id="coolingRetries" name="coolingRetries"
                     formControlName="coolingRetriesControl" placeholder="attempts">
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingRetriesControl')!.hasError('required')">This field is required
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingRetriesControl')!.hasError('min')">Must be between 0 and 10
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingRetriesControl')!.hasError('max')">Must be between 0 and 10
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingRetriesControl')!.hasError('pattern')">This must be an integer
            </div>
          </td>
          <td>times</td>
        </tr>
        <tr>
          <td>Delay between retries:</td>
          <td><input matInput id="coolingDelay" name="coolingDelay"
                     formControlName="coolingRetriesDelayControl" placeholder="delay">
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingRetriesDelayControl')!.hasError('required')">This field is required
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingRetriesDelayControl')!.hasError('min')">Must be between 0 and {{3*60*60}}
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingRetriesDelayControl')!.hasError('max')">Must be between 0 and {{3*60*60}}
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('coolingRetriesDelayControl')!.hasError('invalidFloat')">This must be a number, and can include decimals
            </div>
          </td>
          <td>seconds</td>
        </tr>
        <tr>
          <td>
            <mat-checkbox formControlName="abortTemperatureControl">Abort if Temperature Rises</mat-checkbox>
          </td>
          <td><input matInput id="temperatureAbort" name="temperatureAbort"
                     formControlName="temperatureAbortThresholdControl"
                     placeholder="threshold">
            <div class="validation-error"
                 *ngIf="formGroup.get('temperatureAbortThresholdControl')!.hasError('required')">This field is required
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('temperatureAbortThresholdControl')!.hasError('min')">Must be between .1 and 100}
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('temperatureAbortThresholdControl')!.hasError('max')">Must be between .1 and 100}
            </div>
            <div class="validation-error"
                 *ngIf="formGroup.get('temperatureAbortThresholdControl')!.hasError('invalidFloat')">This must be a number, and can include decimals
            </div>
          </td>
          <td>° C</td>
        </tr>
        <tr>
          <td colspan="3">
            <mat-checkbox formControlName="offAfterSessionControl">Turn Cooler off after acquisition session</mat-checkbox>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
