<mat-card>
  <mat-card-title>Edit Frame Set {{frameSet.id}}</mat-card-title>
  <mat-card-content>
    <form>

      <mat-form-field>
        <input matInput placeholder="# Frames"
               id="numberWanted"
               name="numberWanted"
               [formControl]="quantityControl"
               [(ngModel)]="frameSet.numberWanted"
        >
      </mat-form-field>
      <div class="validation-error"
           *ngIf="quantityControl.hasError('required')">This field is required
      </div>
      <div class="validation-error"
           *ngIf="quantityControl.hasError('pattern')">This field must be an integer
      </div>
      <div class="validation-error"
           *ngIf="quantityControl.hasError('min')">This field must be 1 or more
      </div>

      <mat-radio-group name="frameType" [(ngModel)]="frameSet.frameSpec.frameType">
        <mat-radio-button name="bias" value="bias">Bias</mat-radio-button>
        <mat-radio-button name="dark" value="dark">Dark</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <input matInput placeholder="Exposure Seconds"
               name="exposure"
               [(ngModel)]="frameSet.frameSpec.exposure"
        >
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Binning"
               name="binning"
               [formControl]="binningControl"
               [(ngModel)]="frameSet.frameSpec.binning"
        >
      </mat-form-field>
      <div class="validation-error"
           *ngIf="binningControl.hasError('required')">This field is required
      </div>
      <div class="validation-error"
           *ngIf="binningControl.hasError('pattern')">This field must be an integer
      </div>
      <div class="validation-error"
           *ngIf="binningControl.hasError('min')">This field must be 1 or more
      </div>

      <mat-form-field>
        <input matInput placeholder="# Completed"
               name="binning"
               [(ngModel)]="frameSet.numberCaptured"
        >
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="cancelDialog()">Cancel</button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="saveDialog()">Save</button>
  </mat-card-actions>
</mat-card>
