<div class="start-end-container">
  <h1>Session Start and End</h1>
  <p>Define whether the frame acquisition session starts when you click "being" and ends when it is finished,
    if it starts and ends at other specified times.  Sessions that end before complete can be resumed next time.
    (<a routerLink="/help/startend">Help on this page</a>)</p>
  <div class="box-set">
    <div class="start-container">
      <h2>Session Start</h2>
      <form [formGroup]="formGroupStart">
      <mat-radio-group name="startgroup" formControlName="startGroupControl">
        <div class="control-grid">
          <mat-radio-button name="startnow" value="startnow"
                            class="single-top-row">
            Immediately
          </mat-radio-button>
          <mat-radio-button name="startlater" value="startlater"
                            class="double-row-left">
            Later, at:
          </mat-radio-button>
          <div class="double-row-right" >
            <input matInput name="startwhen"
                   formControlName="startWhenControl"
                   type="datetime-local"
                   placeholder="start date">
            <div class="validation-error"
                 *ngIf="formGroupStart.get('startWhenControl')!.hasError('minimumDateTime')">Date and time must be in the future
            </div>
            <div class="validation-error"
                 *ngIf="formGroupStart.get('startWhenControl')!.hasError('invalidDate')">Internal error: date or time are invalid
            </div>
          </div>
        </div>
      </mat-radio-group>
      </form>
    </div>
    <div class="end-container">
      <h2>Session End</h2>
      <form [formGroup]="formGroupEnd">
      <mat-radio-group name="endgroup" formControlName="endGroupControl">
        <div class="control-grid">
          <mat-radio-button name="enddone" value="enddone"
                            class="single-top-row">
            When Done
          </mat-radio-button>
          <mat-radio-button name="endlater" value="endlater"
                            class="double-row-left">
            Later, at:
          </mat-radio-button>
          <div class="double-row-right">
            <input matInput name="endwhen"
                   formControlName="endWhenControl"
                   type="datetime-local" placeholder="start date">
            <div class="validation-error"
                 *ngIf="formGroupEnd.get('endWhenControl')!.hasError('minimumDateTime')">Date and time must be in the future
            </div>
            <div class="validation-error"
                 *ngIf="formGroupEnd.get('endWhenControl')!.hasError('invalidDate')">Internal error: date or time are invalid
            </div>
          </div>
        </div>
      </mat-radio-group>
      </form>
    </div>
  </div>
</div>
