@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
}

.example-tooltip {
  font-size: 100%;
}

/*  Styles used by all the help pages */

.help-container {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.help-container a {
  text-decoration: none;
}

.help-container a:link {
  color: darkmagenta;
}
.help-container a:hover {
  color: red;
}

.help-nav-footer {
  display: flex;
  margin-top: 2em;
}

.help-nav-header {
  display: flex;
  margin-bottom: 1em;
}

.help-spacer {
  flex: 1 1 auto;
}

.validation-error {
  color: red;
  padding-bottom: 12px;
}

.indented-comment {
  border: solid lightgray thin;
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
  font-style: italic;
}

.text-image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  column-gap: 8px;
}

.text-left {
  grid-row: 1;
  grid-column: 1;
}

.image-right {
  grid-row: 1;
  grid-column: 2;
}
